@charset "utf-8";   /* UTF-8って文字コードを使うよ（これはおまじないで一旦OK） */

/* 見出し１のスタイル */
h1 {
    text-align: center; /* 文字を中央寄せにする */
}

/* 文章のスタイル */
p {
    text-align: center; /* 文字を中央寄せにする */
}

/* 太文字のスタイル */
b {
    color: #ff6c80; /* 文字の色をピンクにする */
}

/* 画像のスタイル */
img {
    display: block;     /* ここは説明が長くなるので省略 */
    width: 60px;        /* 幅を 60px に指定 */
    border-radius: 30px;/* 半径を 30px に指定 */
    margin: 0 auto;     /* ここは説明が長くなるので省略 */
}

/* ボタンのスタイル */
button {
    /* 形に関するレイアウト */
    width: 30%;     /* 横幅を画面の30％の幅にする */
    height: 40px;   /* 高さを40pxにする */
    margin: 0 35%;  /* マージン（余白）を「上と下は 0px」「右と左は35％」 */
    border-radius: 5px; /* 角を丸くする（半径5px） */

    /* 文字に関するレイアウト */
    color: #ffffff; /* 文字の色を白色にする */
    font-weight: bold;  /* 太文字にする */

    /* その他のレイアウト */
    border: none;   /* ボタンの輪郭を無くす */
    cursor: pointer;    /* カーソルをポインターにする */
    background-color: #ff6c80;    /* 背景の色をピンクにする */
}

/* ボタンにカーソルが合わさった時のスタイル */
button:hover {
    background-color: #ffaab3;    /* 背景の色を薄いピンクにする */
}